__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
.pytest_cache/
*.egg-info/
dist/
build/


*.h5ad
*.csv
*.txt
*.tsv
*.h5


spCLUE_Results/
Cluster_Matrices/
DESeq2_Results/
Filtered_Lists/
Filtered_Matrices/
Split_Matrices/
DESeq2_onlyC/
OnlyC_Analysis_Results/
stress_vs_control_results/